<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <ion-item class="form-field">
        <ion-input
          type="email"
          formControlName="email"
          placeholder="Email"
          [class.ion-invalid]="isSubmitted && f['email'].errors"
          [class.ion-touched]="isSubmitted && f['email'].errors"
        ></ion-input>
      </ion-item>
      <ion-text color="danger" class="error-message" *ngIf="isSubmitted && f['email'].errors">
        {{ getErrorMessage('email') }}
      </ion-text>

      <ion-item class="form-field">
        <ion-input
          type="password"
          formControlName="password"
          placeholder="Password"
          [class.ion-invalid]="isSubmitted && f['password'].errors"
          [class.ion-touched]="isSubmitted && f['password'].errors"
        ></ion-input>
      </ion-item>
      <ion-text color="danger" class="error-message" *ngIf="isSubmitted && f['password'].errors">
        {{ getErrorMessage('password') }}
      </ion-text>

      <!-- Backend Errors -->
      <ion-item lines="none" *ngIf="backendErrors?.length" class="status-messages error-messages">
        <ion-text color="danger">
          <ng-container *ngFor="let error of backendErrors">
            <p>{{ error }}</p>
          </ng-container>
        </ion-text>
      </ion-item>

      <div class="forgot-password">
        <a routerLink="/forgot-password">Forgot Password?</a>
      </div>

      <ion-button 
        type="submit" 
        expand="block" 
        class="submit-button"
        [disabled]="loginForm.invalid && isSubmitted"
      >
        Login
      </ion-button>

      <div class="signup-link">
        Don't have an account? <a routerLink="/signup">Sign Up</a>
      </div>
    </form>
  </div>
</ion-content> 