<div class="two-factor-verify-container">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Verify Two-Factor Authentication</ion-card-title>
      <ion-card-subtitle>Enter the code from your authenticator app</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      @if (loading) {
        <div class="loading-container">
          <ion-progress-bar type="indeterminate"></ion-progress-bar>
          <p>Verifying code...</p>
        </div>
      } @else {
        <div class="verification-container">
          <p>Enter the 6-digit code from your authenticator app:</p>
          <div class="code-input-container">
            @for (digit of digits; track $index) {
              <input
                type="text"
                maxlength="1"
                [(ngModel)]="digits[$index]"
                (input)="onDigitInput($event, $index)"
                (keydown)="onKeyDown($event, $index)"
                class="digit-input"
                [disabled]="loading"
              />
            }
          </div>
          @if (error) {
            <p class="error-message">{{ error }}</p>
          }
        </div>
      }
    </ion-card-content>
  </ion-card>
</div> 