<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Update Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="update-user-container">
    <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()" class="update-user-form">
      <ion-item class="form-field">
        <ion-input
          type="text"
          formControlName="firstName"
          placeholder="First Name"
          [class.ion-invalid]="isSubmitted && f['firstName'].errors"
          [class.ion-touched]="isSubmitted && f['firstName'].errors"
        ></ion-input>
      </ion-item>
      <ion-text color="danger" class="error-message" *ngIf="isSubmitted && f['firstName'].errors">
        {{ getErrorMessage('firstName') }}
      </ion-text>

      <ion-item class="form-field">
        <ion-input
          type="text"
          formControlName="lastName"
          placeholder="Last Name"
          [class.ion-invalid]="isSubmitted && f['lastName'].errors"
          [class.ion-touched]="isSubmitted && f['lastName'].errors"
        ></ion-input>
      </ion-item>
      <ion-text color="danger" class="error-message" *ngIf="isSubmitted && f['lastName'].errors">
        {{ getErrorMessage('lastName') }}
      </ion-text>

      <ion-item class="form-field">
        <ion-input
          type="email"
          formControlName="email"
          placeholder="Email"
          [class.ion-invalid]="isSubmitted && f['email'].errors"
          [class.ion-touched]="isSubmitted && f['email'].errors"
        ></ion-input>
      </ion-item>
      <ion-text color="danger" class="error-message" *ngIf="isSubmitted && f['email'].errors">
        {{ getErrorMessage('email') }}
      </ion-text>

      <ion-item class="form-field">
        <ion-input
          type="tel"
          formControlName="phoneNumber"
          placeholder="Phone Number"
          [class.ion-invalid]="isSubmitted && f['phoneNumber'].errors"
          [class.ion-touched]="isSubmitted && f['phoneNumber'].errors"
        ></ion-input>
      </ion-item>
      <ion-text color="danger" class="error-message" *ngIf="isSubmitted && f['phoneNumber'].errors">
        {{ getErrorMessage('phoneNumber') }}
      </ion-text>

      <!-- Backend Errors -->
      <ion-item lines="none" *ngIf="backendErrors?.length" class="status-messages error-messages">
        <ion-text color="danger">
          <ng-container *ngFor="let error of backendErrors">
            <p>{{ error }}</p>
          </ng-container>
        </ion-text>
      </ion-item>

      <ion-button 
        type="submit" 
        expand="block" 
        class="submit-button"
        [disabled]="updateUserForm.invalid && isSubmitted"
      >
        Update Profile
      </ion-button>

      <div class="update-password-link">
        <a routerLink="/auth/update-password" data-testid="update-password-link">Change Password</a>
      </div>
    </form>
  </div>
</ion-content> 