<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="update-password-container">
    <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()" class="update-password-form">
      <ion-item class="form-field">
        <ion-input
          type="password"
          formControlName="currentPassword"
          placeholder="Current Password"
          [class.ion-invalid]="isSubmitted && f['currentPassword'].errors"
          [class.ion-touched]="isSubmitted && f['currentPassword'].errors"
        ></ion-input>
      </ion-item>
      <ion-text color="danger" class="error-message" *ngIf="isSubmitted && f['currentPassword'].errors">
        {{ getErrorMessage('currentPassword') }}
      </ion-text>

      <ion-item class="form-field">
        <ion-input
          type="password"
          formControlName="newPassword"
          placeholder="New Password"
          [class.ion-invalid]="isSubmitted && f['newPassword'].errors"
          [class.ion-touched]="isSubmitted && f['newPassword'].errors"
        ></ion-input>
      </ion-item>
      <ion-text color="danger" class="error-message" *ngIf="isSubmitted && f['newPassword'].errors">
        {{ getErrorMessage('newPassword') }}
      </ion-text>

      <ion-item class="form-field">
        <ion-input
          type="password"
          formControlName="confirmPassword"
          placeholder="Confirm New Password"
          [class.ion-invalid]="isSubmitted && f['confirmPassword'].errors"
          [class.ion-touched]="isSubmitted && f['confirmPassword'].errors"
        ></ion-input>
      </ion-item>
      <ion-text color="danger" class="error-message" *ngIf="isSubmitted && f['confirmPassword'].errors">
        {{ getErrorMessage('confirmPassword') }}
      </ion-text>

      <!-- Backend Errors -->
      <ion-item lines="none" *ngIf="backendErrors?.length" class="status-messages error-messages">
        <ion-text color="danger">
          <ng-container *ngFor="let error of backendErrors">
            <p>{{ error }}</p>
          </ng-container>
        </ion-text>
      </ion-item>

      <ion-button 
        type="submit" 
        expand="block" 
        class="submit-button"
        [disabled]="updatePasswordForm.invalid && isSubmitted"
      >
        Update Password
      </ion-button>

      <div class="forgot-password">
        <a routerLink="/auth/forgot-password" data-testid="forgot-password-link">Forgot Password?</a>
      </div>
    </form>
  </div>
</ion-content> 